h2{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Quicksand';
  color: #FFFFFF;
  text-align: center;
}

img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
